.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.json-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: navy;
}

.multi-filter-container {
  margin-bottom: 20px; /* Space between dropdown and submit button */
}

.multi-select {
  width: 100%;
}

.error {
  color: red;
  margin-top: 10px;
}

h3 {
  margin-top: 20px;
}

h4 {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}
